# Coding Etiquette & Excel Reporting: Data Profiling

In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
# Changing the format of the values visualization

pd.options.display.float_format = '{:.2f}'.format

In [5]:
# Reseting the maximum number of columns to display to default (all columns)

pd.set_option('display.max_columns', None)

In [7]:
# Importing project data

path = r'C:\Users\IVON6\Instacart Basket Analysis'
profiling_cust_data = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'filtered_cust_merged_all.pkl'))

In [8]:
profiling_cust_data.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spenders,median_days_since_prior_order,frequency_flag,gender,state,age,date_joined,num_dependants,marital_status,income,_merge,region,activity_flag
0,1,Chocolate Sandwich Cookies,61,19,5.80,3139998,138,28,6,11,3.00,False,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer
1,1,Chocolate Sandwich Cookies,61,19,5.80,1977647,138,30,6,17,20.00,False,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer
2,1,Chocolate Sandwich Cookies,61,19,5.80,389851,709,2,0,21,6.00,False,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.93,Low spender,8.00,Frequent customer,Female,Vermont,66,6/16/2018,2,married,158302,both,Northeast,high-activity customer
5,1,Chocolate Sandwich Cookies,61,19,5.80,1701441,777,16,1,7,26.00,False,7,0,Mid-range product,Busiest day,Busiest days,Average orders,26,Regular customer,6.94,Low spender,11.00,Regular customer,Female,Hawaii,51,1/4/2019,2,married,57797,both,West,high-activity customer
6,1,Chocolate Sandwich Cookies,61,19,5.80,1871483,825,3,2,14,30.00,False,2,0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,5.96,Low spender,20.00,Regular customer,Male,District of Columbia,20,5/8/2019,3,living with parents and siblings,34171,both,South,high-activity customer

In [11]:
# Display the count of each unique value in the 'gender' column and ensure there is no NaNs

profiling_cust_data['gender'].value_counts()

gender
Male      15586740
Female    15377824
Name: count, dtype: int64

In [13]:
# Display the count of each unique value in the 'marital_status' column and ensure there is no NaNs

profiling_cust_data['marital_status'].value_counts()

marital_status
married                             21743711
single                               5094410
divorced/widowed                     2645271
living with parents and siblings     1481172
Name: count, dtype: int64

In [15]:
# Display the count of each unique value in the 'age' column and ensure there is no NaNs

profiling_cust_data['age'].value_counts()

age
79    508337
49    507879
48    506730
31    506218
64    504832
       ...
60    461897
36    460649
66    454604
41    451269
25    449324
Name: count, Length: 64, dtype: int64

In [17]:
# Descriptive statistics in the 'age' column

profiling_cust_data['age'].describe()

count   30964564.00
mean          49.47
std           18.49
min           18.00
25%           33.00
50%           49.00
75%           65.00
max           81.00
Name: age, dtype: float64

In [19]:
# Descriptive statistics in the 'income' column

profiling_cust_data['income'].describe()

count   30964564.00
mean       99675.87
std        43141.87
min        25903.00
25%        67292.00
50%        96765.00
75%       128102.00
max       593901.00
Name: income, dtype: float64

## Create age segmentation of the customer data

In [22]:
# Defining Age_Groups

def age_groups(row):
    age = row['age']
    age_18_to_24 = (age >= 18) & (age <= 24)
    age_25_to_40 = (age >= 25) & (age <= 40)
    age_41_to_54 = (age >= 41) & (age <= 54)
    age_55_to_64 = (age >= 55) & (age < 65)
    over_65 = age >= 65
    
    if age_18_to_24:
        return '18-24'
    elif age_25_to_40:
        return '25-40'
    elif age_41_to_54:
        return '41-54'
    elif age_55_to_64:
        return '55-64'
    elif over_65:
        return '65+'
    else:
        return 'No data' # e.g., missing values

In [24]:
# Create a new column 'age_group'

profiling_cust_data['age_group'] = profiling_cust_data.apply(age_groups, axis=1)

In [25]:
# Display the count of each unique value in the 'age_group' column and ensure there is no NaNs

profiling_cust_data['age_group'].value_counts()

age_group
65+      8195544
25-40    7733239
41-54    6818100
55-64    4802487
18-24    3415194
Name: count, dtype: int64

In [28]:
# Checking Data

profiling_cust_data.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spenders,median_days_since_prior_order,frequency_flag,gender,state,age,date_joined,num_dependants,marital_status,income,_merge,region,activity_flag,age_group
0,1,Chocolate Sandwich Cookies,61,19,5.80,3139998,138,28,6,11,3.00,False,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer,65+
1,1,Chocolate Sandwich Cookies,61,19,5.80,1977647,138,30,6,17,20.00,False,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer,65+
2,1,Chocolate Sandwich Cookies,61,19,5.80,389851,709,2,0,21,6.00,False,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.93,Low spender,8.00,Frequent customer,Female,Vermont,66,6/16/2018,2,married,158302,both,Northeast,high-activity customer,65+
5,1,Chocolate Sandwich Cookies,61,19,5.80,1701441,777,16,1,7,26.00,False,7,0,Mid-range product,Busiest day,Busiest days,Average orders,26,Regular customer,6.94,Low spender,11.00,Regular customer,Female,Hawaii,51,1/4/2019,2,married,57797,both,West,high-activity customer,41-54
6,1,Chocolate Sandwich Cookies,61,19,5.80,1871483,825,3,2,14,30.00,False,2,0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,5.96,Low spender,20.00,Regular customer,Male,District of Columbia,20,5/8/2019,3,living with parents and siblings,34171,both,South,high-activity customer,18-24

## Create Customers Profiles

In [31]:
# Counts the number of rows in the data profiling group

profiling_cust_data.groupby(['age_group', 'marital_status', 'num_dependants']).size()

age_group  marital_status                    num_dependants
18-24      living with parents and siblings  1                  508045
                                             2                  484658
                                             3                  488469
           married                           1                  374040
                                             2                  353596
                                             3                  380876
           single                            0                  825510
25-40      married                           1                 1902628
                                             2                 1954460
                                             3                 1921402
           single                            0                 1954749
41-54      married                           1                 1731334
                                             2                 1675365
                                             3                 1725701
           single                            0                 1685700
55-64      divorced/widowed                  0                  623313
           married                           1                 1174070
                                             2                 1171335
                                             3                 1205318
           single                            0                  628451
65+        divorced/widowed                  0                 2021958
           married                           1                 2028989
                                             2                 2093847
                                             3                 2050750
dtype: int64

In [32]:
# defining Profiles:

def profiles_sample(row):
    age = row['age']
    marital_status = row['marital_status']
    num_dependants = row['num_dependants']
    
    if (marital_status == 'living with parents and siblings'):
        return 'Living with Parents'
    
    elif (marital_status == 'single') and (age < 25):
        return 'Young Adult 0 dependants'
    
    elif (marital_status == 'single') and (age >= 25):
        return 'Adult 0 dependants'
     
    elif (marital_status == 'married') and (num_dependants == 1):
        return 'Married Without Children'
        
    elif (marital_status == 'married') and (num_dependants in [2, 3]):
        return 'Married With Children' 
    
    elif marital_status == 'divorced/widowed':
        return 'Divorced / Widowed' 
    
    else:
        # Unknown Profile
        return 'Unknown Profile'

In [35]:
# Create new column 'customer_profile'

profiling_cust_data['customer_profile'] = profiling_cust_data.apply(profiles_sample, axis=1)

In [36]:
# Checking the output

profiling_cust_data['customer_profile'].value_counts()

customer_profile
Married With Children       14532650
Married Without Children     7211061
Adult 0 dependants           4268900
Divorced / Widowed           2645271
Living with Parents          1481172
Young Adult 0 dependants      825510
Name: count, dtype: int64

In [39]:
# Checking results

profiling_cust_data.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag,mean_price,spenders,median_days_since_prior_order,frequency_flag,gender,state,age,date_joined,num_dependants,marital_status,income,_merge,region,activity_flag,age_group,customer_profile
0,1,Chocolate Sandwich Cookies,61,19,5.80,3139998,138,28,6,11,3.00,False,5,0,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer,65+,Married Without Children
1,1,Chocolate Sandwich Cookies,61,19,5.80,1977647,138,30,6,17,20.00,False,1,1,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer,6.94,Low spender,8.00,Frequent customer,Male,Minnesota,81,8/1/2019,1,married,49620,both,Midwest,high-activity customer,65+,Married Without Children
2,1,Chocolate Sandwich Cookies,61,19,5.80,389851,709,2,0,21,6.00,False,20,0,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer,7.93,Low spender,8.00,Frequent customer,Female,Vermont,66,6/16/2018,2,married,158302,both,Northeast,high-activity customer,65+,Married With Children
5,1,Chocolate Sandwich Cookies,61,19,5.80,1701441,777,16,1,7,26.00,False,7,0,Mid-range product,Busiest day,Busiest days,Average orders,26,Regular customer,6.94,Low spender,11.00,Regular customer,Female,Hawaii,51,1/4/2019,2,married,57797,both,West,high-activity customer,41-54,Married With Children
6,1,Chocolate Sandwich Cookies,61,19,5.80,1871483,825,3,2,14,30.00,False,2,0,Mid-range product,Regularly busy,Regularly busy,Most orders,9,New customer,5.96,Low spender,20.00,Regular customer,Male,District of Columbia,20,5/8/2019,3,living with parents and siblings,34171,both,South,high-activity customer,18-24,Living with Parents

## Saving changes to Dataset

In [42]:
# Exporting new dataset with profiles

profiling_cust_data.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'profiling_cust_data.pkl'))