# Task 4.8

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [3]:
# Changing view format

pd.options.display.float_format = '{:.2f}'.format

### Import the orders_products_merged dataframe from the pickle file saved

In [5]:
path = r'C:\Users\IVON6\Instacart Basket Analysis'

In [6]:
# Import dataset orders_products_merged.pkl
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merged_new_columns.pkl'))

In [7]:
# Check dimensions of imported dataframe for consistency
ords_prods_merge.shape

(32404859, 19)

## Find the aggregated mean of the “order_number” column grouped by “department_id

In [9]:
# Split the data into groups based on 'department_id'
# Apply the agg() function to each group to obtain the mean values for the 'order_number' column
ords_prods_merge.groupby('department_id')['order_number'].mean()

department_id
1    15.46
2    17.28
3    17.17
4    17.81
5    15.22
6    16.44
7    17.23
8    15.34
9    15.90
10   20.20
11   16.17
12   15.89
13   16.58
14   16.77
15   16.17
16   17.67
17   15.69
18   19.31
19   17.18
20   16.47
21   22.90
Name: order_number, dtype: float64

In [10]:
#In my subset, the number of departments are the same.
#The differences between the average values for the number of orders are evident.They have changed.

## Follow the instructions in the Exercise for creating a loyalty flag for existing customers using the transform() and loc() functions.

In [12]:
# Split the data into groups based on the “user_id” column
# Apply the transform() function on the “order_number” column to generate the maximum orders for each user
# Create a new column, “max_order”

ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)
ords_prods_merge['max_order']

C:\Users\IVON6\AppData\Local\Temp\ipykernel_24192\3220249672.py:5: FutureWarning: The provided callable <function max at 0x0000022E7B6E9F80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  ords_prods_merge['max_order'] = ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

0           32
1           32
2            5
3            3
4            3
            ..
32404854     6
32404855     4
32404856    20
32404857    20
32404858    11
Name: max_order, Length: 32404859, dtype: int64

In [13]:
# testing the output

ords_prods_merge.head(15)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order
0,1,Chocolate Sandwich Cookies,61,19,5.80,3139998,138,28,6,11,3.00,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32
1,1,Chocolate Sandwich Cookies,61,19,5.80,1977647,138,30,6,17,20.00,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32
2,1,Chocolate Sandwich Cookies,61,19,5.80,389851,709,2,0,21,6.00,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5
3,1,Chocolate Sandwich Cookies,61,19,5.80,652770,764,1,3,13,NaN,True,10,0,both,Mid-range product,Slowest day,Slowest days,Most orders,3
4,1,Chocolate Sandwich Cookies,61,19,5.80,1813452,764,3,4,17,9.00,False,11,1,both,Mid-range product,Slowest day,Slowest days,Average orders,3
5,1,Chocolate Sandwich Cookies,61,19,5.80,1701441,777,16,1,7,26.00,False,7,0,both,Mid-range product,Busiest day,Busiest days,Average orders,26
6,1,Chocolate Sandwich Cookies,61,19,5.80,1871483,825,3,2,14,30.00,False,2,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,9
7,1,Chocolate Sandwich Cookies,61,19,5.80,1290456,910,12,3,10,30.00,False,1,0,both,Mid-range product,Slowest day,Slowest days,Most orders,12
8,1,Chocolate Sandwich Cookies,61,19,5.80,369558,1052,10,1,20,19.00,False,1,0,both,Mid-range product,Busiest day,Busiest days,Average orders,20
9,1,Chocolate Sandwich Cookies,61,19,5.80,589712,1052,15,1,12,15.00,False,2,1,both,Mid-range product,Busiest day,Busiest days,Average orders,20
10,1,Chocolate Sandwich Cookies,61,19,5.80,1798115,1379,1,5,11,NaN,True,1,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,10
11,1,Chocolate Sandwich Cookies,61,19,5.80,497193,1480,36,3,13,7.00,False,1,0,both,Mid-range product,Slowest day,Slowest days,Most orders,43
12,1,Chocolate Sandwich Cookies,61,19,5.80,1727826,1480,38,4,13,7.00,False,3,1,both,Mid-range product,Slowest day,Slowest days,Most orders,43
13,1,Chocolate Sandwich Cookies,61,19,5.80,2694698,1480,39,2,12,12.00,False,4,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,43
14,1,Chocolate Sandwich Cookies,61,19,5.80,3171753,1494,6,3,10,2.00,False,8,0,both,Mid-range product,Slowest day,Slowest days,Most orders,13

In [14]:
# Removing output limit from 100 to none

pd.options.display.max_rows = None

## Deriving Columns with loc()

In [16]:
# max orders > 40 --> Loyal customer

ords_prods_merge.loc[ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [17]:
# max orders > 10 and <= 40 --> Regular customer

ords_prods_merge.loc[(ords_prods_merge['max_order'] <= 40) & (ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [18]:
# max orders < 10 --> New customer

ords_prods_merge.loc[ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [19]:
# Checking the results

ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

loyalty_flag
Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: count, dtype: int64

In [20]:
# Check new column 

ords_prods_merge[['user_id', 'loyalty_flag', 'order_number']].head(20)

    user_id      loyalty_flag  order_number
0       138  Regular customer            28
1       138  Regular customer            30
2       709      New customer             2
3       764      New customer             1
4       764      New customer             3
5       777  Regular customer            16
6       825      New customer             3
7       910  Regular customer            12
8      1052  Regular customer            10
9      1052  Regular customer            15
10     1379      New customer             1
11     1480    Loyal customer            36
12     1480    Loyal customer            38
13     1480    Loyal customer            39
14     1494  Regular customer             6
15     1494  Regular customer             7
16     1494  Regular customer             9
17     1540  Regular customer             4
18     1540  Regular customer             5
19     1540  Regular customer             6

In [21]:
# Check the whole dataframe

ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,...,first_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_day,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.80,3139998,138,28,6,11,...,False,5,0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.80,1977647,138,30,6,17,...,False,1,1,both,Mid-range product,Regularly busy,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.80,389851,709,2,0,21,...,False,20,0,both,Mid-range product,Busiest day,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.80,652770,764,1,3,13,...,True,10,0,both,Mid-range product,Slowest day,Slowest days,Most orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.80,1813452,764,3,4,17,...,False,11,1,both,Mid-range product,Slowest day,Slowest days,Average orders,3,New customer

## Look at Spending Habits of Loyalty Groups

In [23]:
# Checking the spending habits between the three types of customers in terms of product price

customer_differ = ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max', 'sum']})
customer_differ

                 prices
                   mean  min      max          sum
loyalty_flag
Loyal customer    10.39 1.00 99999.00 106814042.20
New customer      13.29 1.00 99999.00  83011787.20
Regular customer  12.50 1.00 99999.00 198391693.20

In [24]:
# During a comparative analysis of customer groups based on their loyalty, I was found that new customers have the highest average purchase cost.

## Create a spending flag for each user based on the average price across all their orders using the following criteria:

In [26]:
# If the mean of the prices of products purchased by a user is lower than 10, then flag them as a “Low spender.”
# If the mean of the prices of products purchased by a user is higher than or equal to 10, then flag them as a “High spender.”

In [27]:
# First Step: Group by user_id, calculate the average value by price and create a new column 'mean_price'

ords_prods_merge['mean_price'] = ords_prods_merge.groupby('user_id')['prices'].transform('mean')

In [28]:
ords_prods_merge['mean_price'].describe()

count   32404859.00
mean          11.98
std           83.24
min            1.00
25%            7.39
50%            7.82
75%            8.25
max        25005.42
Name: mean_price, dtype: float64

In [51]:
# Second Step: Creating Flags

In [53]:
# mean_price by user is < 10 --> Low spender
ords_prods_merge.loc[ords_prods_merge['mean_price'] < 10, 'spenders'] = 'Low spender'

In [55]:
# mean_price by user is >= 10 --> High spender
ords_prods_merge.loc[ords_prods_merge['mean_price'] >= 10, 'spenders'] = 'High spender'

In [57]:
# checking output
ords_prods_merge[['user_id', 'mean_price', 'spenders']].head(30)

    user_id  mean_price     spenders
0       138        6.94  Low spender
1       138        6.94  Low spender
2       709        7.93  Low spender
3       764        4.97  Low spender
4       764        4.97  Low spender
5       777        6.94  Low spender
6       825        5.96  Low spender
7       910        6.68  Low spender
8      1052        7.16  Low spender
9      1052        7.16  Low spender
10     1379        5.81  Low spender
11     1480        5.08  Low spender
12     1480        5.08  Low spender
13     1480        5.08  Low spender
14     1494        6.80  Low spender
15     1494        6.80  Low spender
16     1494        6.80  Low spender
17     1540        6.61  Low spender
18     1540        6.61  Low spender
19     1540        6.61  Low spender
20     1540        6.61  Low spender
21     1540        6.61  Low spender
22     1540        6.61  Low spender
23     1540        6.61  Low spender
24     1540        6.61  Low spender
25     1540        6.61  Low spender
26     1540        6.61  Low spender
27     1540        6.61  Low spender
28     1540        6.61  Low spender
29     1540        6.61  Low spender

In [59]:
# counting values
ords_prods_merge['spenders'].value_counts(dropna = False)

spenders
Low spender     31770614
High spender      634245
Name: count, dtype: int64

## Determine frequent versus non-frequent customers.

In [64]:
# First Step: Group by user_id, calculate the median value by days_since_prior_order and create a new column 'median_days_since_prior_order'

ords_prods_merge['median_days_since_prior_order'] = ords_prods_merge.groupby('user_id')['days_since_prior_order'].transform('median')

In [66]:
ords_prods_merge['median_days_since_prior_order'].describe()

count   32404854.00
mean          10.40
std            7.13
min            0.00
25%            6.00
50%            8.00
75%           13.00
max           30.00
Name: median_days_since_prior_order, dtype: float64

In [68]:
# Second Step: Creating Flags

In [70]:
# median of “days_since_prior_order” > 20 == Non-frequent customer

ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] > 20, 'frequency_flag'] = 'Non-frequent customer'

In [72]:
# median of “days_since_prior_order” > 10 and <= 20 == Regular customer

ords_prods_merge.loc[(ords_prods_merge['median_days_since_prior_order'] > 10) & (ords_prods_merge['median_days_since_prior_order'] <= 20), 'frequency_flag'] = 'Regular customer'

In [74]:
# median of “days_since_prior_order” <= 10 == Frequent customer

ords_prods_merge.loc[ords_prods_merge['median_days_since_prior_order'] <= 10, 'frequency_flag'] = 'Frequent customer'

In [76]:
# Checking Output

ords_prods_merge['frequency_flag'].describe()

count              32404854
unique                    3
top       Frequent customer
freq               21559853
Name: frequency_flag, dtype: object

In [78]:
# Counting values

ords_prods_merge['frequency_flag'].value_counts(dropna=False)

frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

## Export your dataframe as a pickle file and store it correctly in your “Prepared Data” folder.

In [ ]:
# Export changed df 

ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_grouped.pkl'))